<div class="fixed inset-0 bg-black/50 flex items-center justify-center">
  <div class="bg-white p-5 rounded-md min-w-[700px]">
    <div class="flex items-start justify-between">
      <div class="flex flex-col items-start">
        <span class="text-lg font-semibold">Create Establishment</span>
        <span class="text-sm font-light"
          >Fill up all fields to save establishment.</span
        >
      </div>
      <button class="p-2 hover:bg-gray-100">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <form action="" class="grid grid-cols-2 mt-5 gap-4">
      <div class="col-span-2 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >ESTABLISHMENT NAME <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >OWNER NAME <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >REPRESENTATIVE NAME <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-2 flex items-end gap-2">
        <div class="flex flex-col w-full">
          <label for="" class="text-sm font-semibold text-gray-500"
            >ESTABLISHMENT ADDRESS <span class="text-red-300">*</span></label
          >
          <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
        </div>
        <button class="bg-blue-600 p-3 text-white rounded-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
            />
          </svg>
        </button>
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >CONTACT NUMBER <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >FIRE INSPECTION FEE <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >APPLICATION TYPE <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >APPLICATION NUMBER <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >BUSINESS ID <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>

      <div class="col-span-1 flex flex-col">
        <label for="" class="text-sm font-semibold text-gray-500"
          >APPLICATION STATUS <span class="text-red-300">*</span></label
        >
        <input type="text" class="bg-gray-100 px-4 py-2 rounded-md" />
      </div>
      <button class="bg-sky-600 rounded-md text-white px-4 py-2 col-span-2">
        Save Establishment
      </button>
    </form>
  </div>
</div>
